#k a{
font-size: 1.7rem;
}
#one{
background-color: #1abc9c;
}
#one h1{
line-height: 3.5rem;
}
#one p{
font-size: 1.25rem;
}
#four{
background-color: #1abc9c;
}
#four a{
background-color: #1abc9c;
}
#six{
background-color: #2c3e50;	
}
